---
// component script section
const profilePicture = "https://i.imgur.com/JPGFE75.jpg"
---

<!-- component template section -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<img
			src={profilePicture}
			alt="Some crazy lady"
			width="100px"
			height="100px"
		/>
	</body>
</html>
