---
import Image from "astro/components/Image.astro"
import calculatorIcon from "../../public/images/icon-calculator.svg"
---

<button class="calculator-button" id="calculator-button">
	<Image
		src={calculatorIcon}
		class="calculator-button__icon"
		alt="calculator icon"
	/>
	<p class="calculator-button__text">Calculate Repayments</p>
</button>

<script>
	const button = document.getElementById("calculator-button")
	const amount = document.getElementById("mortgage-amount")

	button.addEventListener("click", () => {
		console.log(amount.value)
	})
</script>

<style>
	.calculator-button {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		margin: 1em 0;
		padding: 0 3em;
		height: 3em;
		border-radius: 24px;
	}
	@media screen and (min-width: 768px) {
		.calculator-button {
			width: 31.5rem;
		}
	}
</style>
