---

---

<form action="" class="form">
	<label for="mortgage-amount">Mortgage Amount</label>
	<div class="input__container">
		<div class="form__prefix">$</div>
		<input
			type="number"
			class="form__input"
			id="mortgage-amount"
			name="mortgage-amount"
		/>
	</div>
</form>

<style></style>
