---
import Image from "astro/components/Image.astro"
import worksheetImage from "../../public/images/illustration-empty.svg"
---

<section class="output">
	<Image src={worksheetImage} alt="Image of worksheet / calculator" />
	<h2 class="output__title">Results shown here</h2>
	<p class="output__text">
		Complete the form and click "calculate repayments" to see what your monthly
		repayments would be.
	</p>
</section>

<style>
	.output {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 375px;
		background-color: var(--color--slate-900);
		padding: 2em 2em;
	}

	@media screen and (min-width: 768px) {
		.output {
			max-width: 688px;
		}
	}

	@media screen and (min-width: 1000px) {
		.output {
			width: 500px;
			height: 600px;
			border-bottom-left-radius: 15%;
		}
		.output::before {
			background-color: white;
			height: 600px;
			width: 500px;
		}
	}

	.output__title {
		color: var(--color--white);
		margin-bottom: 0.5em;
	}

	.output__text {
		color: var(--color--slate-300);
		text-align: center;
	}
</style>
