---
import Image from "astro/components/Image.astro"
import worksheetImage from "../../public/images/illustration-empty.svg"
---

<section class="output">
	<Image src={worksheetImage} alt="Image of worksheet / calculator" />
	<h2 class="output__title">Results shown here</h2>
	<p class="output__text">
		Complete the form and click "calculate repayments" to see what your monthly
		repayments would be.
	</p>
</section>

<style>
	.output {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 375px;
		background-color: var(--color--slate-900);
		padding: 1em 0;
	}
</style>
