---

---

<section class="results">
	<h2>Your results</h2>
	<p>
		Your results are shown below based on the information you provided. To
		adjust the results, edit the form and click "calculate repayments" again.
	</p>
	<div class="results__details">
		<p>Your monthly repayments</p>
		<p>£1,797.74</p>
		<p>Total you'll repay over the term</p>
		<p>£539,322.94</p>
	</div>
</section>

<style></style>
