@font-face {
	font-family: "Young-serif";
	src: url("./fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
	font-family: "Outfit";
	src: url("./fonts/outfit/Outfit-VariableFont_wght.ttf");
}

/*  ----------------------------------------------  */
/*                 CORE STYLES                      */
/*  ----------------------------------------------  */

:root {
	--nutmeg: hsl(14, 45%, 36%);
	--raspberry: hsl(332, 51%, 32%);
	--white: hsl(0, 0%, 100%);
	--roseWhite: hsl(330, 100%, 98%);
	--eggshell: hsl(30, 54%, 90%);
	--lightGray: hsl(30, 18%, 87%);
	--wengeBrown: hsl(30, 10%, 34%);
	--darkCharcoal: hsl(24, 5%, 18%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	/* Add font-family as needed */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Young-serif", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
	/* border & padding accounted for in element's width/height */
	box-sizing: border-box;
	background-color: var(--eggshell);
	width: 100vw;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p {
	font-family: "Outfit";
	font-size: 1.6rem;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 37.5rem;
	background-color: #fff;
}

/*  ----------------------------------------------  */
/*                      HEADER                      */
/*  ----------------------------------------------  */

.header {
	width: 31.1rem;
}

.omelette-img {
	min-width: 37.5rem;

	/* align image center while keeping overflow */
	margin-left: 50%;
	transform: translateX(-50%);
}

.title {
	margin-top: 2.4rem;
	font-size: 3.6rem;
	font-weight: 300;
	line-height: 4rem;
	color: var(--darkCharcoal);
}

.title-text {
	margin-top: 2rem;
	font-weight: 300;
	color: var(--wengeBrown);
}

/*  ----------------------------------------------  */
/*                   PREPERATION                    */
/*  ----------------------------------------------  */

.prep {
	background-color: var(--roseWhite);
	width: 31.1rem;
	padding: 2.4rem;
	border-radius: 1.2rem;
	margin: 2.4rem 0;
	color: var(--wengeBrown);
}

.prep-title {
	color: var(--raspberry);
	font-size: 2rem;
	font-weight: 600;
}

.prep-list-container {
	font-family: "Outfit";
	font-size: 1.8rem;
	margin-left: 0.5rem;
	margin-top: 1rem;
	padding-left: 2rem;
}

.prep-buttlet {
	text-align: left;
	font-weight: 400;
}

.bullet-indent {
	display: block;
	padding-left: 1rem;
}
.bold-text {
	font-weight: 600;
}
