@font-face {
	font-family: "Young-serif";
	src: url("./fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
	font-family: "Outfit";
	src: url("./fonts/outfit/Outfit-VariableFont_wght.ttf");
}

/*  ----------------------------------------------  */
/*                 CORE STYLES                      */
/*  ----------------------------------------------  */

:root {
	--color-primary: #f2f2f2;
	--color-secondary: #1a477b;
	--color-accent: #14ba57;
	--color-header: rgb(17, 17, 17);
	--color-text: rgb(65, 65, 65);
	--color-white: rgb(247, 247, 248);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	/* Add font-family as needed */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Young-serif", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
	/* border & padding accounted for in element's width/height */
	box-sizing: border-box;

	width: 100vw;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

li {
	list-style-position: inside;
}

p {
	font-family: "Outfit";
	font-size: 1.4rem;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 37.5rem;
}

/*  ----------------------------------------------  */
/*                      HEADER                      */
/*  ----------------------------------------------  */

.header {
	width: 31.1rem;
}

.omelette-img {
	min-width: 37.5rem;

	/* align image center while keeping overflow */
	margin-left: 50%;
	transform: translateX(-50%);
}

.title {
	font-size: 3.6rem;
}

. .prep {
}

.ingredients-list {
	width: 31.1rem;
}
