@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/*  ----------------------------------------------  */
/*                 CORE STYLES                      */
/*  ----------------------------------------------  */

.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

:root {
	/* PRIMARY COLORS */
	--color-red: hsl(0, 78%, 62%);
	--color-green: hsl(180, 62%, 55%);
	--color-orange: hsl(34, 97%, 64%);
	--color-blue: hsl(212, 86%, 64%);

	/* NEUTRAL COLORS */
	--color-darkBlue: hsl(234, 12%, 34%);
	--color-grayishBlue: hsl(229, 6%, 66%);
	--color-lightGray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* Add font-family as needed */
	font-size: 1.5rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
	/* border & padding accounted for in element's width/height */
	box-sizing: border-box;
}

@media screen and (min-width: 360px) {
	.body {
		font-size: 31.25%;
	}
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

/*  ----------------------------------------------  */
/*                     HEADER                       */
/*  ----------------------------------------------  */

.header {
	margin: 5rem 0;
	max-width: 31rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__part1,
.header__part2 {
	font-size: 2.4rem;
	letter-spacing: 0.17px;
	color: var(--color-darkBlue);
}

.header__part1 {
	font-weight: 200;
}

.header__part2 {
	font-weight: 600;
}

.header__text {
	text-align: center;
	color: var(--color-grayishBlue);
	line-height: 2.5rem;
}
/*  ----------------------------------------------  */
/*                   CARD AREA                      */
/*  ----------------------------------------------  */

.container {
	display: grid;
	width: 111rem;
	grid-template-columns: 37rem 37rem 37rem;
	grid-template-rows: 13.25rem 13.25rem 13.25rem 13.25rem;
	gap: 25px;
	margin-bottom: 5rem;
	grid-template-areas:
		". top ."
		"left top right"
		"left bottom right"
		". bottom .";
}

.container__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35rem;
	height: 25rem;
	border: 1px solid black;
}

@media screen and (max-width: 1110px) {
	.container__card {
		max-width: 31rem;
		max-height: 22.2rem;
	}
}

#top {
	grid-area: top;
}

#left {
	grid-area: left;
}

#right {
	grid-area: right;
}

#bottom {
	grid-area: bottom;
}

@media screen and (max-width: 1110px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}
}
