---
import "../css/style.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Mortgage repayment calculator</title>
	</head>
	<body>
		<main class="main">
			<section class="form-section">
				<div class="heading">
					<h1 class="heading__title">Mortgage Calculator</h1>
					<div class="heading__clear">Clear All</div>
				</div>

				<form action="">
					<div class="form-container">
						<label for="mortgage-amount">Mortgage Amount</label>
						<input type="number" class="mortgage-amount" />
					</div>
					<div class="form-container">
						<label for="mortgage-term">Mortgage Amount</label>
						<input type="number" class="mortgage-term" />
					</div>
					<div class="form-container">
						<label for="interest-rate">Interest Rate</label>
						<input type="number" class="interest-rate" />
					</div>
					<div class="rad-container">
						<label for="type-selector">Mortgage Type </label>
						<input type="radio" id="rad-repayment" />
						<label for="rad-repayment">Repayment</label>
						<input type="radio" id="interest-only" />
						<label for="interest-only">Interest Only</label>
					</div>
					<button>Calculate Repayments</button>
				</form>
			</section>

			<section class="results-section">
				<div class="default-container">
					<img src="" alt="" class="default-container-image" />
					<h2 class="default-container__title">Results shown here</h2>
					<p class="default-container__text">
						Complete the form and click "calculate repayments" to see what your
						monthly repayments would be.
					</p>
				</div>
			</section>

			Mortgage Amount Mortgage Term Interest Rate Mortgage Type Repayment
			Interest Only Calculate Repayments

			<!-- Empty results start -->

			Results shown here Complete the form and click “calculate repayments” to
			see what your monthly repayments would be.

			<!-- Empty results end -->

			<!-- Completed results start -->

			Your results Your results are shown below based on the information you
			provided. To adjust the results, edit the form and click “calculate
			repayments” again. Your monthly repayments Total you'll repay over the
			term

			<!-- Completed results end -->
		</main>
	</body>
</html>

<style>
	.main {
		max-width: 375px;
	}

	.heading__title {
		font-size: 2.4rem;
	}

	.results-section {
		border: 1px solid red;
	}
</style>
