---
import "../css/style.css"
import Input from "../components/Input.astro"
import TypeSelector from "../components/TypeSelector.astro"
import Button from "../components/Button.astro"
import Output from "../components/Output.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Mortgage repayment calculatorf</title>
	</head>
	<body>
		<section class="calculator">
			<!---------------------- INPUT SECTION ----------------------->

			<h2 class="calculator__title">Mortgage Calculator</h2>
			<a href="#" class="calculator__clear-all">Clear All</a>

			<div class="calculator__inputs">
				<Input
					type="number"
					containerClass="input-container__section"
					idName="mortgage-amount"
					val=`\u00A3`
					labelTitle="Mortgage Amount"
				/>
				<div class="calculator__inputs--inline">
					<Input
						type="number"
						containerClass="input-container__section--reversed"
						idName="mortgage-term"
						val="years"
						labelTitle="Mortgage Term"
					/>
					<Input
						type="number"
						containerClass="input-container__section--reversed"
						idName="interest-rate"
						val="%"
						labelTitle="Interest Rate"
					/>
				</div>
			</div>

			<TypeSelector />
			<Button />
		</section>
		<!---------------------- OUTPUT SECTION ----------------------->
		<Output />
		<!-- white background add in -->
		<div class="whiteback"></div>
	</body>
</html>

<style>
	.whiteback {
		display: none;
		position: absolute;
		width: 1000px;
		height: 600px;
		background-color: white;
		z-index: -1;
	}

	@media screen and (min-width: 1000px) {
		.whiteback {
			display: block;
		}
	}

	.calculator {
		background-color: white;
		width: 100%;
		max-width: 37.5rem;
		padding: 2em 2em;
	}

	@media screen and (min-width: 768px) {
		.calculator {
			max-width: 68.8rem;
		}
	}

	@media screen and (min-width: 1000px) {
		body {
			display: flex;
			flex-direction: row;
		}

		.calculator {
			max-width: 500px;
			height: 600px;
		}
	}

	.calculator__title {
		font-size: 2.4rem;
		margin-bottom: 0.3em;
	}

	.calculator__clear-all {
		color: var(--color--slate-700);
		font-size: 1.6rem;
		font-family: "Jakarta Medium";
	}

	.calculator__inputs {
		margin: 2em 0 1em 0;
	}

	.calculator__inputs--inline {
	}

	@media screen and (min-width: 768px) {
		.calculator__inputs--inline {
			display: flex;
			justify-content: space-between;
		}
	}
</style>
