---
const { data } = Astro.props
---

<section class="fact-table">
	<div class="fact-container fact-rotation">
		<h4 class="fact-rotation-title">ROTATION TIME</h4>
		<p class="fact-rotation-data">{data.rotation}</p>
	</div>
	<div class="fact-container fact-revolution">
		<h4 class="fact-revolution-title">REVOLUTION TIME</h4>
		<p class="fact-revolution-data">{data.revolution}</p>
	</div>
	<div class="fact-container fact-radius">
		<h4 class="fact-radius-title">RADIUS</h4>
		<p class='fact-radius-data"'>{data.radius}</p>
	</div>
	<div class="fact-container fact-temp">
		<h4 class="fact-temp-title">AVERAGE TEMP.</h4>
		<p class="fact-temp-data">{data.temperature}</p>
	</div>
</section>

<style>
	.fact-table {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 2.6rem 2.4rem;
	}

	.fact-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid var(--color-lightGray);
		width: 100%;
		height: 4.8rem;
		padding: 0 2.4rem;
	}

	.fact-table > div {
		margin-bottom: 1rem;
	}

	.fact-container > h4 {
		color: var(--color-lightGray);
		font-size: 1.1rem;
		font-family: "Spartan-Medium";
		letter-spacing: 0.73px;
	}

	.fact-container > p {
		font-size: 2.4rem;
		font-family: "Antonio";
		letter-spacing: -0.75px;
	}

	/*  ----------------------------------------------  */
	/*                      768px                       */
	/*  ----------------------------------------------  */

	@media screen and (min-width: 768px) {
		.fact-table {
			flex-direction: row;
			margin: 3.5rem;
			width: 100%;
			max-width: 768px;
		}

		.fact-container {
			padding: 0.5rem 1.5rem;
			margin: 0.5rem;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-evenly;
			height: 8.8rem;
		}
	}

	/*  ----------------------------------------------  */
	/*                      1024px                      */
	/*  ----------------------------------------------  */

	@media screen and (min-width: 1024px) {
		.fact-table {
			max-width: 1024px;
		}

		.fact-container {
			margin: 0 1rem;
		}
	}

	/*  ----------------------------------------------  */
	/*                      1440px                      */
	/*  ----------------------------------------------  */

	@media screen and (min-width: 1440px) {
		.fact-table {
			max-width: 1440px;
		}

		.fact-container {
			max-width: 25.5rem;
		}
	}
</style>
