---
import { Image } from "astro:assets"
import SourceImage from "/public/images/icon-source.svg"

const { data } = Astro.props
---

<aside class="information-container">
	<div class="information-container-desktop">
		<div class="information-content">
			<h1 class="planet-title">{data.name}</h1>
			<p class="planet-description">{data.overview.content}</p>

			<figcaption class="source-container">
				<div class="source-information-container">
					<span class="source-text">Source</span> : <span class="source-link">
						<a href={data.overview.source} class="source-link-a"> Wikipedia</a>
					</span>
					<Image src={SourceImage} class="chevron" alt="Cheveron icon" />
				</div>
			</figcaption>
		</div>

		<div class="information-container-mobile">
			<div class="selector-container">
				<h3 class="selector-link active">OVERVIEW</h3>
			</div>
			<div class="selector-container">
				<h3 class="selector-link">STRUCTURE</h3>
			</div>
			<div class="selector-container">
				<h3 class="selector-link">SURFACE</h3>
			</div>
		</div>
	</div>
</aside>

<style>
	.information-container {
	}

	.information-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 23.5rem;
		margin: 0 2.4rem;
	}

	.planet-title {
		font-size: 4rem;
		text-transform: uppercase;
	}

	.planet-description {
		font-family: "Spartan-Small";
		color: var(--color-white);
		font-size: 1.4rem;
		line-height: 2.2rem;
		text-align: center;
		padding: 1rem 1rem 2rem 1rem;
	}

	.source-container {
		color: var(--color-lightGray);
		font-size: 1.7rem;
	}

	.figcaption-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.source-text {
		font-family: "Spartan-Small";
		margin-right: 4px;
	}

	.source-link {
		font-family: "Spartan-Medium";
		margin-right: 0.4rem;
		margin-left: 4px;
	}

	.source-link-a {
		text-decoration: none;
		color: var(--color-lightGray);
		border-bottom: 1px solid var(--color-lightGray);
	}

	.normal-selector {
		display: none;
	}

	@media screen and (min-width: 768px) {
		.information-container-desktop {
			display: flex;
			transition: display 0.5s ease;
			visibility: visible;
			display: flex;
			flex-direction: row;
		}

		.information-container-mobile {
			display: flex;
			color: white;
			border: 1px solid white;
		}

		.information-content {
			display: flex;
			align-items: flex-start;
		}

		.information-content,
		.information-container-mobile {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			margin: 3.9rem;
		}

		.planet-description {
			text-align: left;
			padding-left: 0;
			margin: 2rem 0;
		}
	}
</style>
