---
import { Image } from "astro:assets"
import SourceImage from "/public/images/icon-source.svg"

const { data } = Astro.props
---

<aside class="output-container">
	<h1 class="planet-title">{data.name}</h1>
	<p class="planet-description">{data.overview.content}</p>

	<figcaption class="source">
		<div class="figcaption-container">
			<span class="source-1">Source</span> : <span class="source-2">
				<a href={data.overview.source} class="linky"> Wikipedia</a>
			</span>
			<Image src={SourceImage} alt="Cheveron icon" />
		</div>

		<style>
			.output-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				height: 23.5rem;
				margin: 0 2.4rem;
			}

			.planet-title {
				font-size: 4rem;
				text-transform: uppercase;
			}

			.planet-description {
				font-family: "Spartan-Small";
				color: var(--color-white);
				text-align: center;
				font-size: 1.4rem;
				line-height: 2.2rem;
				padding: 1rem 1rem 2rem 1rem;
			}

			.figcaption-container {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.source {
				color: var(--color-lightGray);
				font-size: 1.7rem;
			}

			.source-1 {
				font-family: "Spartan-Small";
				margin-right: 4px;
			}

			.source-2 {
				font-family: "Spartan-Medium";
				margin-right: 0.4rem;
				margin-left: 4px;
			}

			.linky {
				text-decoration: none;
				color: var(--color-lightGray);
				border-bottom: 1px solid var(--color-lightGray);
			}
		</style>
	</figcaption>
</aside>
