---
import { Image } from "astro:assets"

import ImageSection from "./ImageSection.astro"
import InformationOutput from "./InformationOutput.astro"

const { data } = Astro.props
---

<div class="selector">
	<div class="selector-container">
		<h3 class="selector-link active">OVERVIEW</h3>
	</div>
	<div class="selector-container">
		<h3 class="selector-link">STRUCTURE</h3>
	</div>
	<div class="selector-container">
		<h3 class="selector-link">SURFACE</h3>
	</div>
</div>
<main class="main-container">
	<ImageSection>
		<Image
			src={data.images.planet}
			id="planet-image"
			alt=`Image of planet ${data.name}`
			class="planet-image"
			width="110"
			height="110"
		/>
	</ImageSection>
	<InformationOutput data={data} />
</main>

<script define:vars={{ data }}>
	document.documentElement.style.setProperty("--test", data.color)

	// Array Selector
	const arr = document.querySelectorAll(".selector-link")
	const planet = document.getElementById("planet-image")
	const description = document.querySelector(".planet-description")
	const link = document.querySelector(".source-link")

	// udpate content, image, and source based on link clicked
	function updateContent(val) {
		if (val === "OVERVIEW") {
			planet.src = data.images.planet
			description.innerHTML = data.overview.content
			link.href = data.overview.source
		} else if (val === "STRUCTURE") {
			planet.src = data.images.internal
			description.innerHTML = data.structure.content
			link.href = data.structure.source
		} else if (val === "SURFACE") {
			planet.src = data.images.planet
			description.innerHTML = data.geology.content
			link.href = data.geology.source
		}
	}

	// Remove all active classes and add only to clicked element
	arr.forEach((element) => {
		element.addEventListener("click", () => {
			// this changes the color and border of the current 'link'
			arr.forEach((e) => e.classList.remove("active"))
			element.classList.add("active")
			// update image and contents
			//planet.src = "/images/geology-mercury.png" // remove!!!!!!
			updateContent(element.innerHTML)
		})
	})
</script>

<style>
	.selector {
		padding-top: 2rem;
		margin: 0 2.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid var(--color-darkGray);
		border-bottom: 1px solid var(--color-darkGray);
		width: 100%;
		max-width: 400px;
	}

	.main-container {
	}
	@media screen and (min-width: 768px) {
		.selector {
			display: none;
		}
	}

	.selector-container {
		margin: 0 2.4rem;
	}

	.selector-link {
		min-width: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.1rem;
		letter-spacing: 2px;
		color: var(--color-lightGray);
		padding-bottom: 2rem;
		cursor: pointer;
	}

	.active {
		color: var(--color-white);
		border-bottom: 3px solid var(--test);
	}

	.planet-image {
		height: 11.1rem;
		width: 11.1rem;
	}

	@media screen and (min-width: 1024px) {
		.main-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 8.2rem;
		}
	}
</style>
