---
import ImageSection from "./ImageSection.astro"
import InformationOutput from "./InformationOutput.astro"

const { data } = Astro.props
---

<div class="selector">
	<div class="selector-container">
		<h3 class="selector-link active">OVERVIEW</h3>
	</div>
	<div class="selector-container">
		<h3 class="selector-link">STRUCTURE</h3>
	</div>
	<div class="selector-container">
		<h3 class="selector-link">SURFACE</h3>
	</div>
</div>
<ImageSection data={data} />
<InformationOutput data={data} />

<script>
	// Array Selector
	const arr = document.querySelectorAll(".selector-link")
	// Remove all active classes and add only to clicked element
	arr.forEach((element) => {
		element.addEventListener("click", () => {
			arr.forEach((e) => e.classList.remove("active"))
			element.classList.add("active")
		})
	})
</script>

<style>
	.selector {
		padding-top: 2rem;
		margin: 0 2.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid var(--color-darkGray);
		border-bottom: 1px solid var(--color-darkGray);
	}

	.selector-container {
	}

	.selector-link {
		min-width: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.1rem;
		letter-spacing: 2px;
		color: var(--color-lightGray);
		padding-bottom: 2rem;
	}

	.active {
		color: var(--color-white);
		border-bottom: 3px solid var(--color-lightBlue);
	}
</style>
