---

---

<div class="mobile-menu"></div>

<script></script>

<style>
	.mobile-menu {
		position: absolute;
		top: 6.8rem;
		width: 100%;
		height: 100%;
		background-color: var(--color-black);
	}

	/* CHANGE THIS TO RESUME ABILITY TO SCROLL */
	body {
		overflow: hidden;
	}
</style>
