---
import { Image } from "astro:assets";
import iconHamburger from "../images/icon-hamburger.svg";
//import { iconHamburger } from '../assets/icon-hamburger.svg';
---

<div class="menu">
    <h1 class="title">THE PLANETS</h1>
    <Image src={iconHamburger} alt="testing..." class="icon"/>
</div>

<style>
    .icon {
        background-color: gray;
    }
</style>

