---

---

<div class="mobile-menu">
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>
			<a href="/">Mercury</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>
			<a href="/venus/">Venus</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>

			<a href="/earth/">Earth</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>

			<a href="/mars/">Mars</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>
			<a href="/jupiter/">Jupiter</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>
			<a href="/saturn/">Saturn</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>
			<a href="/uranus/">Uranus</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>
			<a href="/neptune/">Neptune</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
</div>

<script></script>

<style>
	.mobile-menu {
		position: absolute;
		top: 6.8rem;
		width: 100%;
		height: 100%;
		background-color: var(--color-black);
	}

	/* CHANGE THIS TO RESUME ABILITY TO SCROLL */
	body {
		overflow: hidden;
	}

	.menu-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 2rem 2.4rem;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-family: "Spartan-Bold";
		letter-spacing: 1.4px;
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--color-darkGray);
	}

	.menu-front > a {
		display: flex;
		text-decoration: none;
		color: var(--color-white);
		margin-left: 2rem;
	}

	.menu-front {
		display: flex;
		align-items: center;
	}

	.circle {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}

	.circle-mercury {
		background-color: #def4fc;
	}

	.chevron {
		width: 4px;
		height: 8px;
	}
</style>
