---

---

<div class="mobile-menu" id="mobile-menu">
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mercury"></div>
			<a href="/">Mercury</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-venus"></div>
			<a href="/venus/">Venus</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-earth"></div>

			<a href="/earth/">Earth</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-mars"></div>

			<a href="/mars/">Mars</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-jupiter"></div>
			<a href="/jupiter/">Jupiter</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-saturn"></div>
			<a href="/saturn/">Saturn</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-uranus"></div>
			<a href="/uranus/">Uranus</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
	<div class="menu-container">
		<div class="menu-front">
			<div class="circle circle-neptune"></div>
			<a href="/neptune/">Neptune</a>
		</div>
		<img src="/images/icon-chevron.svg" class="chevron" alt="Chevron" />
	</div>
</div>

<script>
	const hamburger = document.getElementById("hamburger")
	const mobileMenu = document.getElementById("mobile-menu")

	// Event Listener to toggle Mobile Menu
	hamburger.addEventListener("click", () => {
		if (mobileMenu.style.display === "none") {
			mobileMenu.style.display = "block"
		} else {
			mobileMenu.style.display = "none"
		}
	})
</script>

<style>
	.mobile-menu {
		display: none;
		position: absolute;
		top: 8rem;
		padding-top: 1em;
		width: 100%;
		height: 100%;
		background-color: var(--color-black);
	}

	/* CHANGE THIS TO RESUME ABILITY TO SCROLL */
	body {
		overflow: hidden;
	}

	.menu-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 2rem 2.4rem;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-family: "Spartan-Bold";
		letter-spacing: 1.4px;
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--color-darkGray);
	}

	.menu-front > a {
		display: flex;
		text-decoration: none;
		color: var(--color-white);
		margin-left: 2rem;
	}

	.menu-front {
		display: flex;
		align-items: center;
	}

	.circle {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}

	.chevron {
		width: 4px;
		height: 8px;
	}

	.circle-mercury {
		background-color: #def4fc;
	}

	.circle-venus {
		background-color: #f7cc7f;
	}

	.circle-earth {
		background-color: #545bfe;
	}

	.circle-mars {
		background-color: #ff6a45;
	}

	.circle-jupiter {
		background-color: #ecad7a;
	}

	.circle-saturn {
		background-color: #fccb6b;
	}

	.circle-uranus {
		background-color: #65f0d5;
	}

	.circle-neptune {
		background-color: #497efa;
	}
</style>
