/*  ----------------------------------------------  */
/*                    FONTS                         */
/*  ----------------------------------------------  */

@font-face {
	font-family: "Spartan-Small";
	src: url("/league-spartan-v11-latin/league-spartan-v11-latin-100.woff2");
}

@font-face {
	font-family: "Spartan-Medium";
	src: url("/league-spartan-v11-latin/league-spartan-v11-latin-regular.woff2");
}

@font-face {
	font-family: "Spartan-Bold";
	src: url("/league-spartan-v11-latin/league-spartan-v11-latin-700.woff2");
}

@font-face {
	font-family: "Antonio";
	src: url("/antonio-v19-latin/antonio-v19-latin-300.woff2");
}

/*  ----------------------------------------------  */
/*                 CORE STYLES                      */
/*  ----------------------------------------------  */

:root {
	--color-black: #070724;
	--color-darkGray: #38384f;
	--color-lightGray: #838391;
	--color-lightBlue: #419ebb;
	--color-yellow: #eda249;
	--color-purple: #6f2ed6;
	--color-copper1: #d14c32;
	--color-copper2: #cd5120;
	--color-red: #d83a34;
	--color-lightGreen: #1ec2a4;
	--color-mediumBlue: #2d68f0;
	--color-white: #ffffff;

	--test: blue;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	/* border: 1px solid red; */
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	/* border & padding accounted for in element's width/height */
	box-sizing: border-box;
	/* TYPEOGRAPHY */
	background-color: var(--color-black);
	color: var(--color-white);

	/* background */
	background-image: radial-gradient(
			var(--color-darkGray),
			var(--color-darkGray) 2px,
			transparent 0px
		),
		radial-gradient(
			var(--color-darkGray),
			var(--color-darkGray) 1px,
			transparent 0px
		),
		radial-gradient(
			var(--color-darkGray),
			var(--color-darkGray) 2px,
			transparent 0px
		),
		radial-gradient(
			var(--color-darkGray),
			var(--color-darkGray) 2px,
			transparent 0px
		);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

/*  ----------------------------------------------  */
/*                 ELEMENT SPECIFIC                 */
/*  ----------------------------------------------  */

h1,
h2 {
	font-family: "Antonio";
}

h3,
h4,
p {
	font-family: "Spartan-Bold";
}

button {
	border: 1px solid var(--color-lightGray);
}

button:active {
	border: none;
	background-color: var(--color-lightBlue);
	color: var(--color-white);
}

button:hover {
	border: none;
	background-color: var(--color-darkGray);
	color: white;
}

/*  ----------------------------------------------  */
/*                   BREAKPOINTS                    */
/*  ----------------------------------------------  */

/* 320px - Small Phones */
/* 400px - Large Phones */
/* 568px - Landscape Mobile Phones */
/* 768px - Tablet */
/* 1024px - Small Desktop */
/* 1300px - Normal Desktop */

/*  ----------------------------------------------  */
/*                     COMMENTS                     */
/*  ----------------------------------------------  */
