---
import Card from "../components/Card.astro"
import Head from "../components/Head.astro"
import data from "../assets/data.json"
import "../styles/style.css"
import react from "@astrojs/react"
import CardList from "../components/react/CardList"

const work = "work"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Time tracking dashboard</title>
	</head>
	<body>
		<main class="container">
			<div class="head__container">
				<Head />
			</div>
			<div class="profile__container" id="profile__container">
				<!-- 				{
					data.map((data) => (
						<Card data={data.timeframes.weekly} title={data.title} />
					))
				} -->
				<CardList />
			</div>
		</main>
	</body>
</html>

<script></script>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--veryDarkBlue);
		padding: 2rem 0;
	}

	.head__container {
		max-width: 375px;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.profile__container {
		max-width: 375px;
		width: 100%;
		display: grid;
		grid-template-columns: 327px;
		grid-template-rows: repeat(6, 160px);
		gap: 20px;
		justify-content: center;
		padding: 20px 0;
		color: white;
	}
</style>
