---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Newsletter sign-up form</title>
	</head>
	<body>
		<main class="main">
			<picture>
				<source
					srcset="../images/illustration-sign-up-desktop.svg"
					media="(min-width: 1024px"
				/>
				<img src="images/illustration-sign-up-mobile.svg" />
			</picture>

			<section class="content">
				<h1 class="content__title">Stay updated!</h1>

				<!-- List Element -->
				<ul class="list">
					<p class="list__description">
						Join 60,000+ product managers receiving monthly updates on:
					</p>
					<li class="list__item">
						<img
							src="/public/images/icon-list.svg"
							alt="check-mark"
							srcset=""
							class="list__item--icon"
						/>
						<p class="list__item--text">
							Product discovery and building what matters
						</p>
					</li>
					<li class="list__item">
						<img
							src="/public/images/icon-list.svg"
							alt="check-mark"
							srcset=""
							class="list__item--icon"
						/>
						<p class="list__item--text">
							Measuring to ensure updates are a success
						</p>
					</li>
					<li class="list__item">
						<img
							src="/public/images/icon-list.svg"
							alt="check-mark"
							srcset=""
							class="list__item--icon"
						/>
						<p class="list__item--text">And much more!</p>
					</li>
				</ul>

				<!-- Form Element -->
				<form action="" class="form">
					<label for="form__email" class="form__label"></label>
					<input type="email" class="form__email" id="form__email" />
					<input
						type="submit"
						value="Subscribe to monthly newsletter"
						class="form__submit"
						id="form__submit"
					/>
				</form>
			</section>
		</main>
	</body>
</html>

<script>
	const submit = document.getElementById("form__submit")

	submit.addEventListener("click", (e) => {
		e.preventDefault()
	})
</script>

<style lang="scss">
	@import "../styles/main.scss";

	main {
		max-width: 37.5rem;
		background-color: $white;
	}

	.content {
		padding: 2.5rem;

		&__title {
			font-size: 40px;
		}
	}

	.list__item--text {
		font-size: 1.6rem;
		font-weight: 500;
		color: green;
	}
</style>
