/****************************************
	Fonts
****************************************/

@font-face {
	font-family: "Jakarta Bold";
	src: url(/public/fonts/static/PlusJakartaSans-Bold.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Jakarta Medium";
	src: url(/public/fonts/static/PlusJakartaSans-Medium.ttf);
	font-weight: normal;
	font-style: italic;
}

/****************************************
	Reset
****************************************/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 10px;
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

/****************************************
	Variables
****************************************/

:root {
	/* Colors */
	--color--lime: #d8db2f;
	--color--white: #ffffff;
	--color--red: #d73328;
	--color--slate-900: #133041;
	--color--slate-700: #4e6e7e;
	--color--slate-500: #6b94a8;
	--color--slate-300: #9abed5;
	--color--slate-100: #e4f4fd;

	/* Fonts */
}

/****************************************
	Utility Classes
****************************************/

/****************************************
	General Styles
****************************************/

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color--slate-100);
	min-height: 100vh;
	font-size: 1.5em;
	font-family: "Jakarta Medium", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Jakarta Bold", sans-serif;
}

p {
	font-family: "Jakarta Medium", sans-serif;
}

button {
	background-color: var(--color--lime);
	color: var(--color--slate-900);
	color: var(--color-bg-light);
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
}

/* Remove up/down arrows from input elements */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/****************************************
	Blocks
****************************************/

/****************************************
	Break Points
****************************************/
/* @media screen and (min-width: 568px) {	
} */

/* 320px - Small Phones */
/* 400px - Large Phones */
/* 568px - Landscape Mobile Phones */
/* 768px - Tablet */
/* 1024px - Small Desktop */
/* 1300px - Normal Desktop */
