---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import "../styles/global.css";

const pageTitle = "Astro Blog";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout {pageTitle}>
	<p>this is where i will post stuff about astro</p>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>
</BaseLayout>
